/* color palette - Visual Design Guidelines, page 40  */
/* https://www.dropbox.com/sh/y07t0dtnv0np7tt/yBzMfmBJzq/NFLX_03_VisualDesignGuidelines_LATEST.pdf */
/* variables are color names for design reference
/* primary */
$white:        #ffffff;
$pale-blue:    #eef9ff;
$light-gray:   #d3dbdd;
$pale-gray:    #f5f6f7;
$dark-gray:    #3e3e3e;
$gray:         #999999;
$light-blue:   #6baed6;
$blue:         #344da1;
$light-blue-rgba: rgba(107, 174, 214, 0);
$white-rgba:      rgba(255, 255, 255, 0);


/* secondary */
$green:        #009900;
$red:          #ca0000;
$yellow:       #f5b300;
$light-blue2:  #6699cc;
$orange:       #ff6600;
$purple:       #855b9e;
$blue2:        #3333ff;
$light-red:    #ca9999;

/* muted text */
$muted-black:  #a3abad;
$muted-green:  #aaccaa;
$muted-red:    #dbaaaa;
