# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/styles/tmp

# dependencies
/node_modules
/bower_components
/styles/node_modules

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
