.nf-graph {
  > .background {
		fill: $pale-gray;
	}

	> .message {
    font-size: 2em;
    dominant-baseline: central;
    text-anchor: middle;
  }

  text {
  	font-size: 10px;
  }

  * {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    -moz-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;
  }
}