$columnPadding: 5px;
$imagePadding: 5px;

.nf-table {
	width: auto;

	& > table {
		table-layout: fixed;
	}

	.nf-sort-none {
		.nf-sort-arrow {
			visibility: hidden;
		}
	}

	.nf-sort-ascending {
		.nf-sort-arrow {
			@extend .nf-icon.arrow-asc;
			visibility: visible;
		}
	}

	.nf-sort-descending {
		.nf-sort-arrow {
			@extend .nf-icon.arrow-desc;
			visibility: visible;
		}
	}

	.nf-table-scrollable-header {
		& > table {
			table-layout: fixed;
		}
	}

	.nf-table-scrollable-body {
		overflow: auto;

		max-height: 300px;

		& > table {
			table-layout: fixed;
		}
	}

	.nf-table-column {
		padding: $columnPadding;
	}


	.nf-table-column-right {
		padding-right: $columnPadding + $arrow-asc_width + $imagePadding;
		text-align: right;
	}

	th.nf-table-column-right {
		&.nf-sort-ascending {
			background-image: url($arrow-asc);
			background-repeat: no-repeat;
			background-position: top 50% right $columnPadding;
		}

		&.nf-sort-descending {
			background-image: url($arrow-desc);
			background-repeat: no-repeat;
			background-position: top 50% right $columnPadding;
		}
	}

	.nf-table-column-left {
		text-align: left;
	}

	th.nf-table-column-left {	
		&.nf-sort-ascending {
			.nf-column-label::after {
				margin-left: $imagePadding;
				content: url($arrow-asc); 
			}
		}

		&.nf-sort-descending {
			.nf-column-label::after {
				margin-left: $imagePadding;
				content: url($arrow-desc); 
			}
		}
	}

	.nf-table-column-center {
		text-align: center;
	}

	th.nf-table-column, th.nf-table-column-center {
		&.nf-sort-ascending {
			.nf-column-label {
				margin-right: -1 * ($arrow-asc_width + $imagePadding);
			}

			.nf-column-label::after {
				margin-left: $imagePadding;
				content: url($arrow-asc); 
			}
		}

		&.nf-sort-descending {
			.nf-column-label {
				margin-right: -1 * ($arrow-asc_width + $imagePadding);
			}

			.nf-column-label::after {
				margin-left: $imagePadding;
				content: url($arrow-desc); 
			}
		}
	}
}
