.nf-area {
  > .area {
    fill: rgba(255,0,0,.5);
    stroke: none;
    stroke-width: 0;
  }

  &.selected {
    .area-line {
      stroke-width: 2px;
    }

    > .area {
      fill: rgba(0,0,255,.5);
    }
  }

  &.selectable {
    cursor: pointer;

    .tracking-dot {
      cursor: pointer;
    }
  }

  .tracking-dot {
    visibility: visible; //HACK: because of global visibility hiding in vis.scss
    cursor: default; //HACK: because of global cursor: pointer setting on all graph circles in vis.scss
  }
}