.nf-graph .nf-graph-content {
	> .background {
		fill: $white;
	}

	.nf-grid-lanes {
    rect:nth-child(even) {
      fill: $pale-gray;
    }

    rect:nth-child(odd) {
      fill: $white;
    }
  }

  .nf-grid-frets {
    line {
      stroke: $light-gray;
      stroke-width: .5;
    }
  }
}