@import '../compiled-images';

.nf-sort-arrow {
	&.nf-sort-arrow-ascending {
		@extend .nf-icon.arrow-asc;
		visibility: visible;
	}
	
	&.nf-sort-arrow-descending {
		@extend .nf-icon.arrow-desc;
		visibility: visible;
	}

	&.nf-sort-arrow-none {
		visibility: hidden;
	}
}