.nf-x-axis {
	> line {
    stroke: $light-gray;
    stroke-width: 1;
  }

	.tick {
		text {
			dominant-baseline: text-before-edge;
			text-anchor: middle;
		}

		line {
			stroke: $light-gray;
			stroke-width: 1;
		}
	}

	&.orient-top {
		g.tick {
			text {
		  	dominant-baseline: auto;
			}
		}
	}
}