.nf-y-diff {
  &.positive {
    rect {
      fill: lime;
    }

    text {
      fill: black;
    }
  }

  &.negative {
    rect {
      fill: $red;
    }

    text {
      fill: white;
    }
  }

  .nf-y-diff-content {
    text {
      dominant-baseline: center;
      text-anchor: start;
    }
  }

  &.orient-right {

    .nf-y-diff-content {
      text {
        text-anchor: end;
      }
    }
  }
}