<style>
	.foo-bar-0 {
		fill: red;
	}
	.foo-bar-1 {
		fill: yellow;
	}
	.foo-bar-2 {
		fill: lime;
	}
</style>
<h2>nf-bars</h2>


{{#nf-graph width="400" height="300" xScaleType="ordinal"}}
	{{#nf-x-axis tickFilter=xTickFilter}}
		<text>{{tick.value}}</text>
	{{/nf-x-axis}}

	{{#nf-y-axis width="50"}}
		<text>{{tick.value}}</text>
	{{/nf-y-axis}}

	{{#nf-graph-content}}
		{{nf-bars data=data}}
		{{nf-line data=data}}
	{{/nf-graph-content}}
{{/nf-graph}}