<h2>nf-table</h2>

<style>
	.test {
		background: lime;
	}
</style>

{{#nf-table rows=myData sortMultiple=1}}
	{{#nf-column sortBy="row.blah"}}	
{{!-- 		{{#nf-header class="test"}}
			Blah <div class="nf-sort-arrow"></div>
		{{/nf-header}} --}}
		
		{{#nf-cell}}
			{{row.blah}}
		{{/nf-cell}}
	{{/nf-column}}

	{{#nf-column sortBy="row.foo"}}
{{!-- 		{{#nf-header}}
			Foo <div class="nf-sort-arrow"></div>
		{{/nf-header}} --}}
		
		{{#nf-cell}}
			<a href="#" {{action 'fooCellClicked'}}>test</a>{{row.foo}}
		{{/nf-cell}}
	{{/nf-column}}
	
	{{#nf-column sortBy="row.bar" sortNatural=1}}	
{{!-- 		{{#nf-header}}
			Bar <div class="nf-sort-arrow"></div>
		{{/nf-header}} --}}

		{{#nf-cell}}
			{{row.bar}}
		{{/nf-cell}}
	{{/nf-column}}
{{/nf-table}}
