<h2>nf-table</h2>

{{#nf-table rows=myData}}
	{{#nf-column sortBy="groupRow.blah"}}
		{{#nf-header}}
			Blah <div class="nf-sort-arrow"></div>
		{{/nf-header}}
		{{#nf-cell}}
			{{groupRow.sortValue}}
		{{/nf-cell}}
	{{/nf-column}}
	
	{{#nf-table-group groupBy="blah"}}
		{{#nf-column sortBy="row.foo"}}
			{{#nf-header}}
				Foo <div class="nf-sort-arrow"></div>
			{{/nf-header}}
			{{#nf-cell}}
				{{row.foo}}
			{{/nf-cell}}
		{{/nf-column}}

		{{#nf-column sortBy="row.bar"}}
			{{#nf-header}}
				Bar	<div class="nf-sort-arrow"></div>
			{{/nf-header}}
			{{#nf-cell}}
				{{row.bar}}
			{{/nf-cell}}
		{{/nf-column}}
	{{/nf-table-group}}
{{/nf-table}}
