<svg class="nf-graph" {{bind-attr width=width height=height}}>
	<defs>
  	<rect id="nfGraphBackground" x=0 y=0 {{bind-attr width=width height=height}}></rect>
	</defs>

	<use xlink:href="#nfGraphBackground" class="background"></use>

  {{yield}}
</svg>

{{#if debug}}
<div style="position:relative">
	<pre style="position:absolute; z-index:1000">{{debugInfo}}</pre>
</div>
{{/if}}