$arrow-asc: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD1JREFUeNpi/P//PwOxgAmbYFNTE1YTGEkxmQWfqXV1dYzUMRmbW5FNJ89kXCGAbDrpJuMzFdl0kkwGCDAAz0okjPDgwbIAAAAASUVORK5CYII=";
$arrow-asc_width: 11px;
$arrow-asc_height: 11px;
.nf-icon.arrow-asc {
  background-repeat: once;
  display: inline-block;

  background-image: url($arrow-asc);
  background-repeat: once;
  width: $arrow-asc_width;
  height: $arrow-asc_width;
}

$arrow-desc: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEBJREFUeNpi/P//PwOxgAVENDU1EdRRV1fHyEiyyYRMB5kKoskzGZfpMFMpMxnddGRTSTaZCZsgrpAhyWSAAAMA5zAkjPWRYlAAAAAASUVORK5CYII=";
$arrow-desc_width: 11px;
$arrow-desc_height: 11px;
.nf-icon.arrow-desc {
  background-repeat: once;
  display: inline-block;

  background-image: url($arrow-desc);
  background-repeat: once;
  width: $arrow-desc_width;
  height: $arrow-desc_width;
}

